<section class="container-fluid about white-color no-padding" id="about">
		<div class="about-background about-background-1 row no-margin">
			<div class="col-md-6 about-black-box">
				<h3 class="section-heading">Home made soaps</h3>
				<p>Our soaps are made from the basis of olive oil, in the traditional old-fashioned way. They are completely handmade and every
					product is unique souvenir with a slightly different shape and color.
				</p>
				<!-- <a href="#" class="btn btn-default">click action</a> -->
			</div>
			<div class="col-md-6"></div>
		</div>

		<div class="about-background about-background-2 row no-margin">
			<div class="col-md-4 about-white-box col-md-offset-4">
				<h2 class="section-claim wow fadeInDown" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
					Four different
					<span>scents</span>
				</h2>

				<p>The flavours of our soaps are inspired from the Mediterranean environment in which we live in. Rosemary, lavander, lemon and
					orange are among the most characteristic plants of this area, with it's distinct scent and flavour.
				</p>
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="about-background about-background-3 row no-margin">
			<div class="col-md-6 about-black-box col-md-offset-6">
				<h3 class="section-heading">Souvenir package</h3>
				<p>Soaps are wrapped in straw, with a slightly different pattern of every product, among with the informative label. It makes
					our product a nicely shaped object, which can work both as a piece of cosmetics, as an original souvenir from Brac island. </p>
			</div>
		</div>
	</section>