<section class="section-min section product" id="products">
	<div class="container overflow-hidden">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Products</h3>
			</div>
			<div class="col-md-12">
				<div class="product-list-slider">
					<ul class="swiper-wrapper product-list product-list-vertical">
						<!-- SINGLE ITEM -->
						<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".2s" *ngFor="let item of products, index as i">
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<img alt="product image" class="product-list-primary-img" src="{{item.imageUrl}}">
									<img alt="product image" class="product-list-secondary-img" src="{{item.imageUrl}}">
								</a>
							</span>

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">{{item.name}}</span>
									<!-- <span class="product-list-price">$400.00</span> -->
								</span>
							</a>
						</li>
						<!-- / SINGLE ITEM -->

						<li>
							<img src="asets/img/product3.png">
						</li>
						<!-- / SINGLE ITEM -->



					</ul>

					<!-- CAROUSEL CONTROLS -->
					<div class="product-list-pagination text-center"></div>
					<div class="product-list-slider-next right-arrow-negative">
						<span class="ti-arrow-right"></span>
					</div>

					<div class="product-list-slider-prev left-arrow-negative">
						<span class="ti-arrow-left"></span>
					</div>
					<!-- CAROUSEL CONTROLS -->
				</div>
			</div>
		</div>

	</div>
</section>